@use '@material/card/mdc-card';
@use '@material/card';
@use "@material/theme";
@use "@material/rtl";

.corona {
  margin-top: 12px;

  &__card {
    width: 250px;
    height: 85px;
    text-align: center;
    margin: 0 auto;
    background-color: var(--foreground-tertiary);
  }

  &__container {
    padding: 1rem;
  }

  &__title {
    color: var(--primary-dark);
    margin: 0;
  }

  &__value {
    color: var(--primary-dark);
    margin: 0;
  }
}
